html, body {
  background: url("../img/main.jpg") no-repeat center 10% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo img {
  padding-top: 250px;
  padding-bottom: 10%;
  width: 200px;
  box-sizing: border-box;
}

#intro, #counter, #tuned p {
  color: white;
  font-size: 18px;
  font-family: 'Cinzel', serif;
}

#intro p:first-of-type {
  font-family: 'Parisienne', cursive;
  font-size: 28px;
}

#counter p {
  font-size: 32px;
}

#tuned {
  padding-top: 100px;
}

@media (max-width: 500px) {
  html, body {
    background: url("../img/mainmobile.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #logo img {
    padding-top: 200px;
  }

  #tuned {
    padding-top: 50px;
  }
}
