
.navbar {
  background-color: #051429;
  border-bottom: 1px solid white;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}

.navbar a {
  color: #CCC !important;
}

.navbar a:hover {
  color: #AD9743 !important;
}

.navbar-header .navbar-brand {
  padding: 0;
}

.navbar-header .navbar-brand img {
  width: 100px;
}

.header {
  padding: 250px 0 200px 0;
  background: url('../img/mainlow.jpg') no-repeat center 50px;
  background-size: cover;
  width: 100%;
  border-bottom: 2px solid #FFF;
  color: #FFF;
}

.header img {
  width: 200px;
  margin-bottom: 50px;
}

.header p {
  color: white;
  font-size: 1em;
  font-family: 'Cinzel Decorative', cursive;
}

.header .location {
  font-family: 'Parisienne', cursive;
  font-size: 2em;
}

.header .countdown {
  font-size: 3em;
}

.spotlight {
  width: 300px;
  border-radius: 50%;
}

.story {
  padding: 50px;
  text-align: center;
}

.story h2 {
  margin-bottom: 30px;
}

.story p {
  font-size: 1.5em;
}

h2 {
  font-family: 'Cinzel Decorative', cursive;
}

@media(max-width: 768px) {
  .header {
    padding-bottom: 50px;
  }

  .story {
    padding: 0px;
  }

  .story p {
    font-size: 1.2em;
    margin-top: 20px;
  }

}
