
h2 {
  margin-bottom: 30px;\
  color: #051429;
  font-weight: bold;
  font-family: 'Cinzel Decorative', cursive;
}

section {
  padding: 50px;
  text-align: center;
}

.modal-body img {
  padding: 0 30px;
  margin: 10px auto;
}

.navbar {
  background-color: #051429;
  border-bottom: 1px solid white;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}

.navbar a {
  color: #CCC !important;
}

.navbar a:hover {
  color: #e6bc33 !important;
}

.navbar-header .navbar-brand {
  padding: 0;
}

.navbar-header .navbar-brand img {
  max-width: 100px;
}

.header {
  padding: 400px 0 100px 0;
  background: url('../img/mainlow.jpg') no-repeat center 50px;
  background-size: cover;
  width: 100%;
  border-bottom: 2px solid #FFF;
  color: #FFF;
}

.header img {
  width: 200px;
  margin-bottom: 50px;
}

.header p {
  color: white;
  font-size: 1em;
  font-family: 'Cinzel Decorative', cursive;
}

.header .location {
  font-family: 'Parisienne', cursive;
  font-size: 2em;
}

.header .countdown {
  font-size: 3em;
}

.spotlight {
  width: 300px;
}

.story p {
  font-size: 1.5em;
}

.rsvp {
  background-color:  #051429;
  color: #FFF;
}

.rsvp h2 {
  text-align: center;
  color: gold;
  font-size: 4em;
  letter-spacing: 0.5em;
}

.rsvp input[type='radio'] {
  margin-left: 10px;
}

.rsvp textarea {
  width: 500px;
  border-radius: 5px;
  color: #000;
  margin-top: 10px;
}

.pin-box {
  width: 40px;
  margin: 0 20px;
  background: none;
  border: none;
  border-bottom: 3px solid white;
  text-align: center;
  font-size: 4em;
}

.pin-box:focus {
  outline:none;
}

.btn-pin {
  margin: 20px 0;
}

.btn-pin:focus, .btn-submit:focus {
  outline:none;
}

.rsvp input[type="submit"] {
  background: none;
  border: none;
  font-size: 3em;
}

.rsvp input[type="submit"]:hover {
  color: #e6bc33;
}

.guests {
  display: none;
}

.invalid-pin, .server-error {
  display: none;
  color: red;
}

.rsvp-success {
  display: none;
}

.bridal img {
  padding: 0 10px;
  margin: 0 auto;
}

.bridal figcaption {
  margin: 10px 0 40px 0;
}

.bridal p {
  margin-bottom: 40px;
}

.bridal figure {
  transition: all .2s ease-in-out;
}

.bridal figure:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.day {
  background-color:  #051429;
  color: #FFF;
}

.schedule {
  margin-bottom: 20px;
}

.schedule div {
  margin-bottom: 60px;
}

.schedule div h4 {
  font-family: 'Parisienne', cursive;
  font-size: 3em;
  margin: 0;
}

.schedule div p {
  margin: 0;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.2em;
}

.info-block {
  margin-bottom: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.weather {
  margin-bottom: 20px;
}

.weather p {
  margin: 0;
}

.weather-saturday {
  margin: 10px 0 40px;
  font-size: 2em;
}

.weather-description {
  text-transform:capitalize;
}

.weather-saturday small {
  font-size: 0.5em;
}

.weather-day:last-child {
  border-left: 1px dashed black;
}

.weather i {
  margin-bottom: 20px;
  font-size: 30px;
}

.weather-saturday i {
  font-size: 80px;
  padding-bottom: 10px;
}


@media(max-width: 768px) {
  section {
    padding: 0;
  }

  .header {
    padding-top: 200px;
    padding-bottom: 50px;
  }

  .story {
    padding: 0px;
  }

  .story p {
    font-size: 1.2em;
    margin-top: 20px;
  }

  .guest {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.6em;
  }

  .rsvp textarea {
    margin-top: 20px;
    width: 300px;
  }

  .rsvp h2 {
    font-size: 2em;
  }

  .pin-box {
    font-size: 2em;
    margin: 0 5px;
  }

  .rsvp input[type="submit"] {
    font-size: 2em;
  }

  .bridal img {
    padding: 5px;
  }

  .bridal figcaption {
    margin-bottom: 20px;
  }

  .bridal p {
    margin-bottom: 20px;
  }

  .bridal figcaption {
    margin: 0;
  }

  .bridal h4 {
    margin: 0 0 20px 0;
    font-size: 1em;
  }

  .modal-body blockquote {
    font-size: 1em;
  }

}
